body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu li {
    position: relative;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    width: 150px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    font-size: 1rem;
    padding: 1px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .main-menu {
        flex-direction: column;
    }
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    scale: 101%;
}

.centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.centered-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-list li {
    margin: 0 10px;
}


.top {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.style-Button {
    position:absolute;
    top: 70%; 
    right: 55%; 
    transform: translate(0, -50%); 
    border-left: 1px solid rgb(11, 8, 8);
    border-top-right-radius: 25px;
    color: white;
}

.bird-sighting {
    display: flex;
    align-items: center;
}

