body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.page {
    padding-bottom: 8px;
}

.main-menu {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu li {
    position: relative;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.weather {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:768px) and (max-width: 1132px) {
    .weather img {
        width: 50px;
        height: 50px;
    }
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    width: 150px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    font-size: 1rem;
    padding: 1px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .main-menu {
        flex-direction: column;
    }
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .main-menu {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .message {
        margin-top: 8px;
        font-size: 1.5rem;
    }
}

section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    scale: 101%;
}

.centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.centered-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-list li {
    margin: 0 10px;
}


.top {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}


.hotspot {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.observation-card {
    margin: 15px;
}

#textbox {
    height: 100px;
    width: 800px;
    padding: 20px;
    color: rgb(20, 19, 19);
    border: 2px solid #ccc;
    vertical-align: top;
    line-height: 1;
    display: inline-block;
    margin-top: 20px;
}

textarea {
    resize: none;
}

.saveBtn {
    background-color: green;
    color: white;
    height: 20px;
    width: 100px;
    line-height: 20px;
    margin-top: 140px;
    margin-left: 1100px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    padding: none;
}

@media (max-width: 768px) {
    .saveBtn {
        display: block;
        width: 100px;
        margin: auto;
        margin-top: 20px;
        position: static;
    }

    #textbox {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
}
